<div class="container p-4">
    <div class="row">
        {{#each links}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="{{url}}"><h3 class="card-title text-uppercase">
                            {{title}}
                        </h3></a>
                        <p class="m-2">{{description}}</p>
                        <p>{{timeAgo created_at}}</p>
                        <a href="/links/delete/{{id}}" class="btn btn-danger">Borrar Link</a>
                        <a href="/links/edit/{{id}}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay links guardados aún</p>
                    <a href="/links/add" class="btn btn-success">Crear Link</a>

                </div>
            </div>
        {{/each}}
    </div>
</div>